body {
  margin: 0%;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.3);
}

#img-div {
  width: 80%;
  margin: 0 auto;
}
#image {
  display: block;
  max-width: 100%;
}

#img-div {
  background-color: #fff;
  padding: 0.5rem;
}

#img-caption {
  font-weight: 300;
}

@media screen and (min-width: 480px) {
  #title {
    font-size: 4rem;
  }
  #img-caption {
    font-size: 2rem;
  }
}
